{% extends "syogesweb/header.html" %}
{% load staticfiles %}

{% block TesseractBoxEditorCSS %}
    <link rel="stylesheet" href="{% static "TesseractBoxEditor/css/tbe.css" %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="tbenav">
            <div>
                <h2 style="padding-left: 0.5em">Tesseract Box Editor</h2>
            </div>
        </div>
        <div class="tbeMenu">
            <label class="btn btn-default btn-file"> Browse Box File<input type="file" style="display: none;"></label>
            <label class="btn btn-default btn-file"> Browse Image <input type="file" style="display: none;"></label>
            <label class="btn btn-default btn-file"> Save<input type="file" style="display: none;"></label>
        </div>
    </div>


{% endblock %}
